.website-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 20px;
}
.footer-social-icons {
  display: flex;
  gap: 35px;
}
.footer-line {
}
.footer-social-icons a img {
  width: 40px;
  transition: 0.1s ease-out;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 50%;
  &:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 908px) {
  .footer-line {
    font-size: 12px;
  }
  .footer-social-icons a img {
    width: 30px;
  }
}
@media (max-width: 673px) {
  .website-footer {
    flex-direction: column;
    gap: 20px;
  }
}
